
ansible==2.9.1
ansible-alicloud==1.19.0
ansible-alicloud-module-utils==1.5.0
ansible-lint==4.1.0
appdirs==1.4.3
appnope==0.1.0
aspy.yaml==1.3.0
astroid==2.3.3
autopep8==1.5.1
awscli==1.19.90
backcall==0.1.0
boto==2.49.0
boto3==1.17.87
botocore==1.20.90
certifi==2020.4.5.1
cffi==1.14.0
cfgv==3.1.0
chardet==3.0.4
colorama==0.3.3
crcmod==1.7
cryptography==2.9.2
decorator==4.4.2
distlib==0.3.0
docutils==0.15.2
filelock==3.0.12
footmark==1.20.0
identify==1.4.15
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.16.0
Jinja2==2.11.2
jmespath==0.9.5
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
nodeenv==1.3.5
oss2==2.10.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pre-commit==1.20.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.9.7
Pygments==2.6.1
pylint==2.4.4
python-dateutil==2.8.1
PyYAML==5.3.1
requests==2.23.0
rsa==3.4.2
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.4.2
selenium==3.141.0
six==1.14.0
toml==0.10.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
wrapt==1.11.2
